.banner__image {
    width: 100%;
}
.banner__tittle {
    color: #FDFDFD;
    font-family: Pacifico, cursive;
    position: absolute;
    left: 50%;
    text-align: center;
    top: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    width: 100%;
    transform: translate(-50%, -50%);
}
.description {
    text-align: center;
    padding: 2.5rem;
}
.description__tittle {
    color: #8D0606;
    font-family: Pacifico, cursive;
    font-size: 3.1875rem;
}
.description__text {
    color: #595959;
    font-weight: 100;
}

@media screen and (min-width: 0) {
    .banner__image {
        height: calc(75vh - 51px);
    }
    .banner__tittle {
        font-size: 3rem;
    }
    .description__text {
        font-size: 1.3rem;
    }
    .description__tittle {
        font-size: 2rem;
    }
    .description {
        padding: 2.5rem 1rem;
    }
}
@media screen and (min-width: 768px) {
    .banner__image {
        height: calc(75vh - 72px);
    }
    .banner__tittle {
        font-size: 5.0625rem;
    }
    .description__text {
        font-size: 1.75rem;
    }
    .description__tittle {
        font-size: 3.1875rem;
    }
    .description {
        padding: 2.5rem;
    }
}